<div class="jumbotron bg-white">
  <h1>ユーザ一覧</h1>

  <div class="border-bottom">
    <% @users.each do |user| %>
    <div class="border-top mx-5 px-5">
      <div class="my-3">
        <%= link_to user.name, user, class: 'h2 text-secondary' %>
      </div>
    </div>
  <% end %>
  <%= paginate @users %>
 </div>
</div>
