<div class="jumbotron bg-white">
  <h2>在宅貯金</h2>
    <div class="card mx-auto mb-3" style="max-width: 50rem;">
      <div class="row no-gutters">
        <div class="card-header col-md-2 d-flex align-items-center justify-content-center">
          <%= @savings_record.user.name %>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h4 class="card-title"><%= @savings_record.savings_name %>で
            <%= calc_pay(@savings_record) %>円 貯金しました</h4>
            <div class="card-text float-right">
              <%= I18n.l(@savings_record.created_at) %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
