<div id="myCarousel" class="carousel slide text-center" data-ride="carousel" data-interval=8000>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_pack_tag '117554_m.jpg', :class => "first-slide img-fluid", :alt => "First slide" %>
      <div class="container">
        <div class="carousel-caption text-left pb-0">
          <h1 class="d-none d-md-block">電車通勤</h1>
          <div class="bold">往復2時間の<mark>通勤</mark>が無いことは、時給1500円の人にとって、<mark>3000円分の価値</mark>があります。</div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_pack_tag '489394_m.jpg', :class => "second-slide img-fluid", :alt => "Second slide" %>
      <div class="container">
        <div class="carousel-caption text-info pb-0">
          <h1 class="d-none d-md-block">飲み会</h1>
          <div>3時間の<mark>接待の飲み会</mark>が無いことは、時給2000円の人にとって、<mark>6000円分の価値</mark>があります。</div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_pack_tag '2041987_m.jpg', :class => "third-slide img-fluid", :alt => "Third slide" %>
      <div class="container">
        <div class="carousel-caption text-right pb-0">
          <h1 class="text-dark d-none d-md-block">朝の身支度</h1>
          <div class="text-dark">1時間の<mark>朝の身支度</mark>が無いことは、時給1000円の人にとって、<mark>1000円分の価値</mark>があります。</div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
