<section class="jumbotron text-center bg-white">
    <div class="container">
        <% if user_signed_in? %>
          <%= render partial: 'logged_in' %>
        <% else %>
          <%= render partial: 'logged_out' %>
        <% end %>
      </p>
    </div>
</section>
