<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>在宅貯金APP is &copy; NaokiKubo</p>
    <p> お問い合わせは<a href="#">こちら</a>から</p>
  </div>
</footer>
